li {
  font-size: x-large;
  transition: all 0.5s ease;
  background-color: transparent;
  user-select: none;
  color: #ffc270;
}
li:hover {
  cursor: pointer;
  filter: drop-shadow(0 0mm 4mm rgb(252, 252, 252));
  color: #ffeacf;
  background-color: transparent;
}
.header {
  transition: 0.25s linear;
}
.header.active {
  box-shadow: 1px 1px 52px 1px rgb(255, 255, 255, 0.5);
  -webkit-box-shadow: 1px 1px 52px 1px rgb(255, 255, 255, 0.5);
  -moz-box-shadow: 1px 1px 52px 1px rgb(255, 255, 255, 0.5);
  transition: 0.25s linear;
  z-index: 1;
}
